/* Custom height */
.custom-height {
  max-height: 650px; /* Adjust the height as per your requirement */
  object-fit: cover;
}

/* About us heading */
.about-us-heading {
  text-align: center;
}

/* Introduction, Key Values, Recent Updates Sections */
.introduction, .key-values, .recent-updates {
  padding-left: 6rem;
  padding-right: 6rem;
  background-color: white;
  font-size: larger;
  font-weight: 350;
}

/* Key values list */
.key-values ul {
  list-style-type: none;
  padding: 0;
}

.key-values li {
  margin-bottom: 10px;
}

/* Recent updates */
.recent-updates .news-item {
  margin-bottom: 20px;
}

.recent-updates .news-item h4 {
  margin: 0 0 10px 0;
}

.recent-updates .news-item p {
  margin: 0;
}

/* Line-by-line animation */
@keyframes lineByLine {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.line-animated {
  display: block;
  opacity: 0;
}

.line-animated:nth-child(1) {
  animation: lineByLine 0.5s forwards;
  animation-delay: 0.5s;
}

.line-animated:nth-child(2) {
  animation: lineByLine 0.5s forwards;
  animation-delay: 1s;
}

.line-animated:nth-child(3) {
  animation: lineByLine 0.5s forwards;
  animation-delay: 1.5s;
}

/* Add more nth-child rules as needed */
/* Remove padding on small devices */
@media (max-width: 768px) {
  .introduction,
  .key-values,
  .recent-updates {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}