/* General Styles */
.toolDescription {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.3s ease;
  max-height: 4.5em; /* 3 lines * 1.5 line-height */
}

.showMore {
  max-height: none;
  display: block;
}

/* Hero Tool Styles */
.heroTool {
  background: linear-gradient(135deg, #f9f9f9, #e0e0e0);
  animation: fadeIn 1s ease-in-out;
}

.toolCard {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.toolCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Button Styles */
.customButton {
  background-color: #28a745; /* Bootstrap success color */
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.customButton:hover {
  background-color: #218838; /* Darker shade of success color */
}

.customButton:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}
.paddingRight {
  padding-right: 20px; /* Adjust the value as needed */
}
.buttonSpacing {
  margin-right:5rem; /* Adjust the value as needed */
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
