.navbar-custom {
  background-color: black;
}

.navbar-custom .nav-link {
  color: white !important;
  transition: color 0.3s ease;
}

.navbar-custom .nav-link:hover {
  color: #00bfff !important;
  animation: hoverEffect 0.3s ease;
}

.logo {
  width: 60px;
  height:60px;
  margin-right: 10px;
}

/* Adjust logo size on smaller screens */
@media (max-width: 768px) {
  .logo {
    width: 150px;
    height: 50px;
    margin-right: 5px;
  }
}

@keyframes hoverEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.nav-link-custom {
  color: white !important;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.nav-link-custom:hover {
  color: #00bfff !important;
}

/* Center toggle menu items */
@media (max-width: 991px) {
  .navbar-collapse {
    text-align: center;
  }
}
