.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  margin-top: 40px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #ddd;
  top: 125px; /* Adjusted to leave space for the title */
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.timeline-title {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: -40px; /* Position at the top of the timeline */
  left: 50%;
  transform: translateX(-50%);
  background: white; /* Optional: Background color to make it stand out */
}

.timeline-subtitle {
  font-size: 18px;
  color: #888;
  margin-top: 40px; /* Space below the title */
}

.timeLineItems {
  margin-top: 100px;
}

/* Mobile View */
@media (max-width: 768px) {
  .timeline {
    padding: 20px 0;
  }

  .timeline::after {
   padding: 0%;
    margin-left: 0;
    visibility: hidden;
  }

  .timeline-item {
    width: 100%;
    left: 0 !important;
    transform: translateX(0) !important;
    text-align: left;
    padding: 20px 20px;
    box-sizing: border-box;
  }

  .timeline-item.right {
    left: 0;
  }

  .timeline-item .timeline-circle {
    left:-2rem !important;
  }

  .timeline-item.right .timeline-circle {
    left:-2.65rem !important;
    right: auto;
  }

  .timeline-content {
    margin-left: 40px !important;
    border-left: 5px solid;
  }

  .timeline-item.right .timeline-content {
    border-left: 5px solid;
    border-right: none;
  }

}

/* Desktop View */
@media (min-width: 768px) {
  .timeline-item {

    width: 50%;
  }

  .timeline-item.left {
    left: 0;
  }

  .timeline-item.right {
    left: 50%;
  }
}
